//general information of the project

//Colors: 
$primary-color: red;
$secondary-color: purple;
$background: black;
$linear-gradient: linear-gradient(120deg, #b64cf8 0%, #3365fa);

// management designs - spaces margins padding atc

//Font sizes:
$font-default: 16px; 
$font-Xsmall: 8px;
$font-small: 14px;
$font-large: 40px;


// margins56
$margin-small: 6px;
$margin-medium: 12px;
$margin-large: 16px;

//shaows



*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

