main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    
    .right-container{
        height: 100vh;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;

        .sign-in{
            display: flex;
            height: 15%;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            padding: 0px 0px 0px 0px;
            font-size: $font-small;

            p{
                margin-right: 15px;
            }
            
        }
        .user-data{
            display: flex;
            height: 60%;
            width: 100%;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
        
            p{
                margin-left: 20px;
                font-weight: 500;
            }

            h1{
                width: 100%;
                display: flex;
                justify-content: center;
                height: 100px;
                align-items: center;
                font-size: $font-large;
                font-weight: 500;
            }

        }

        .login-button-container{
            display: flex;
            height: 25%;
            width: 100%;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
        }


    }
    
    .left-container{
        height: 100vh;
        width: 40%;   
        background-image: url('../../../assets/saved/images/background_image.png'), $linear-gradient;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;

        -webkit-box-shadow: 11px 0px 12px -10px rgba(0,0,0,0.49);
        -moz-box-shadow: 11px 0px 12px -10px rgba(0,0,0,0.49);
        box-shadow: 11px 0px 12px -10px rgba(0,0,0,0.49);
        
        p{
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 8px 0px;
            width: 50%;
            color: lightgrey;
        }
        
        .left-top{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 75%;

            .logo-gradient{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
            }

            img{
                height: 95px;
                width: 90px;
            }

            
            h1{
                // @include fontManagement(large);
                // font-weight: normal;
                margin: 10px 0px 4px 0px;
                font-weight: 300;
            }
            
        }
        
        .left-bottom{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 25%;


            .icons{
                width: 30%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                justify-content: space-around;

                img{
                    height: 40px;
                    width: 40px;
                    opacity: 50%;
                }

            }    
            
            p{
                font-size: $font-small;
                margin-bottom: 7%;
                margin-top: 5%;
            }
        }
    }

    

   
}