@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.base-button, .apple-store-btn, .google-store-btn, .signup-button, .signin-button {
  background-color: transparent;
  border: solid rgba(211, 211, 211, 0.37);
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 20px;
}

.apple-store-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px 0px 4px;
}

.google-store-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 0px 0px 4px;
}

.signup-button {
  color: black;
  border: solid lightgrey;
  margin-right: 50px;
  width: 100px;
  font-size: 8px;
}

.signin-button {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#be66f5), to(#6d90fc));
  background-image: linear-gradient(90deg, #be66f5, #6d90fc);
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  font-size: 14px;
  -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.31);
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.31);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 40px 0px 100px 0px;
}

.input {
  border-bottom: solid lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 50px;
  padding: 5px;
  margin: 10px 0px;
  font-size: 14px;
}

.input-block {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
}

main .right-container {
  height: 100vh;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

main .right-container .sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 0px;
  font-size: 14px;
}

main .right-container .sign-in p {
  margin-right: 15px;
}

main .right-container .user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .right-container .user-data p {
  margin-left: 20px;
  font-weight: 500;
}

main .right-container .user-data h1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  font-weight: 500;
}

main .right-container .login-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .left-container {
  height: 100vh;
  width: 40%;
  background-image: url("../../../assets/saved/images/background_image.png"), linear-gradient(120deg, #b64cf8 0%, #3365fa);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  -webkit-box-shadow: 11px 0px 12px -10px rgba(0, 0, 0, 0.49);
  box-shadow: 11px 0px 12px -10px rgba(0, 0, 0, 0.49);
}

main .left-container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 8px 0px;
  width: 50%;
  color: lightgrey;
}

main .left-container .left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75%;
}

main .left-container .left-top .logo-gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

main .left-container .left-top img {
  height: 95px;
  width: 90px;
}

main .left-container .left-top h1 {
  margin: 10px 0px 4px 0px;
  font-weight: 300;
}

main .left-container .left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
}

main .left-container .left-bottom .icons {
  width: 30%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .left-container .left-bottom .icons img {
  height: 40px;
  width: 40px;
  opacity: 50%;
}

main .left-container .left-bottom p {
  font-size: 14px;
  margin-bottom: 7%;
  margin-top: 5%;
}
/*# sourceMappingURL=main.css.map */