


li {
 border-radius: 5px;
 background-color: #ffffff;
 display: inline-block;
 margin-bottom: 40px;
 width: 500px;
 padding: 25px 30px;
 box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.05);

 /* border-radius: 5px;
  flex: 150px 1 1;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px;
   */
}

.social-buttons {
 display: flex;
 flex-direction: row;

 align-content: center;
 justify-content: space-between;
 opacity: 30%;
}

.soc-button {
 padding-right: 20px;
 display: flex;
 flex-direction: row;
 justify-content: left;
 align-items: center;
}

.social-buttons img {
 height: 18.35px;
 padding-right: 20px;
 background-blend-mode: overlay;
}

.full-name {
 display: flex;
 flex-direction: row;
}

.full-name p {
 padding-right: 5px;
}

.avatar-container {
 border-radius: 149.1874px;
 background: #7e7d7d;
 mix-blend-mode: normal;
 box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
 height: 46px;
 width: 46px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: white;
 font-size: 22px;
}

.avatar {
 height: 46px;
 width: 46px;
 border-radius: 149.1874px;
}

.name-time {
 display: flex;
 flex-direction: column;
 padding-left: 20px;
 align-items: flex-start;
}

.avatar-name-time {
 display: flex;
 flex-direction: row;
 align-items: center;
}

.content {
 display: flex;
 flex-direction: column;
 padding: 20px 0px 20px 0px;
 align-items: flex-start;
}

.heart-arrow-button {
 padding-right: 20px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}

.social-buttons p {
 font-size: 14px;
 color: black;
}

.postImage {
 width: 500px;
 height: 300px;
 object-fit: cover;
 border-radius: 4px;
 margin-bottom: 30px;
}

.ellipsis-button {
 width: 5px;

 padding-top: 5px;
}

.ellipsis-image {
 opacity: 20%;
 height: 20px;
}

.top-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.heart-button-clicked {
 background-color: blue;
}

.heart {
 opacity: 0%;
}

.time {
 opacity: 50%;
 font-size: 14px;
}
